body {
    background-color: black;
    color : white;
}
.menu_bar {
    display: grid;
    grid-template-columns: 110px 100px 1fr 60px 70px 30px 110px;
    margin: 10px;
}
.menu {
    margin-top : 8px;
}
#login {
    color : black;
    background-color: rgb(109, 139, 195);
    border-radius: 5px;
    margin: 2px 2px 0px 2px;
    padding: 8px 25px;
    text-align: center;
    border : 0;
}
.main{
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.search {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px gray solid;
    border-radius: 30px;
    padding: 10px;
    margin : 3%;
}
#text {
    width: 78%;
    margin : 0;
    background-color: black;
    border: 0;
    color : white;
    
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: sp;
}

#button1, #button2{
    background-color: rgb(56, 56, 56);
    border: 0;
    border-radius: 5px;
    color : white;
    padding : 10px;
}

#button2{
    margin-left: 15px;
}
